[Unit]
Description=V-zone hostname apply job agent
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/vzone-hostname-agent
Nice=5
